<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Lista de Vacantes</title>
</head>
<body>
    <h1>Lista de vacantes</h1>
    <table style="width:100%" border="2" >
        <tr>
            <th>Id</th>
            <th>Vacante</th>
            <th>Fecha de publicación</th>
            <th>Salario</th>
            <th>Descripción</th>
        </tr>
        <tr th:each="vacante: ${vacantes}" >
            <td th:text="${vacante.getId()}" ></td>
            <td th:text="${vacante.getNombre()}" ></td>
            <td th:text="${vacante.getFecha()}" ></td>
            <td th:text="${vacante.getSalario()}" ></td>
            <td th:text="${vacante.getDescripcion()}" ></td>
        </tr>
    </table>
</body>
</html>